.page-header .header-top {
    display: flex;
    background: #f6f6f8;
}
.page-header .header-bottom {
	display: flex;
}

.page-header ul {
	display: flex;
}

.header-bottom-left {
	margin: auto;
}

/*header-bottom*/
.header-bottom .row {
	width: 100%;
}
.header-bottom-left ul {
	display: flex;
	padding-left: 0px;
	margin-bottom: 0px;
}
.header-bottom-left ul li {
	list-style: none;
	padding: 5px;
	margin-bottom: 0px;
}
.header-bottom-left ul li a {
	color: #222222;
	font-size: 16px;
}
.header-bottom-middle {
	display: flex;
	justify-content: center;
}
.header-bottom-middle a {
	margin: auto;
}
.header-bottom-middle strong {
	margin: auto;
}
/*menu*/
.sections.nav-sections .navigation {
	display: flex;
	justify-content: center;
	background: #fff;
}

.navigation .level0>.level-top {
	font-size: 14px;
	color: #878787;
}

p.text-slogan {
	text-align: center;
	font-size: 14px;
}

.block-login-account a {
	font-size: 14px;
}

.sections.nav-sections {
	background-color: white;
}

.breadcrumbs {
	background-color: #f6f6f8;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer-content span {
	display: inline-grid;
	text-transform: uppercase;
}

.container.footer-content {
	background-color: #f6f6f8;
	padding-top: 40px;
	padding-bottom: 40px;
}

.swatch-opt {
    display: flex;
}

.search-wishlist-minicart.col-sm-3 {
    display: flex;
    margin-top: 30px;
}

small.copyright {
    line-height: 40px;
    font-size: 14px;
    background-color: #f6f6f8;
}

ul.footer.links li a {
    color: #808080;
}
ul.footer.links {
    font-size: 14px;
    /* color: black; */
}

ul.footer li a {
    color: #808080;
}
ul.footer {
    font-size: 14px;
}

input#qty {
    width: 125px;
    border-radius: 50px;
}

button#product-addtocart-button {
    line-height: 20px;
    border-radius: 50px;
}